* {
    margin: 0em;
    padding: 0em;
}

body {
    width: 100%;
}

img, obj {
    max-width: 100%;
}

.container {
    width: 100%;
    overflow: auto;
}

.content {
    width: 100%;
    float: left;
    margin-top: -3px;
    position: relative;
}

.showMsg {
}

label {
    font-weight: bold;
    font-size: 1em;
}

.tips {
    width: 100%;
    line-height: 2em;
    overflow: auto;
    position: absolute;
    top: 0em;
    background: #35414A;
    opacity: 0.9;
    text-align: center;
	padding-top:1%;
}


.labelTip {
    color: #5DB95E;
    margin-right: 0.55em;
}

.labelCode {
    color: white;
}

.downKey {
    width: 37%;
    position: absolute;
    bottom: 12%;
    right: 2%;
    cursor: pointer;
}

.imgRandom {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    overflow: auto;
}
