
.xinshoubangzhu_help{width:100%;padding-top:40px; padding-left:15px; display:block; font-size:14px; line-height:17px; color:#6e6e6e; background:url(/templets/New/images/help.png) no-repeat 0% 1%;}

.xinshoubangzhu_help p{line-height:23px;}