@charset "utf-8";
/* CSS Document */

*{margin:0px;padding:0px;}
li{list-style:none;font-size:12px; font-family:"Microsoft YaHei";}
img{ border:0px;}
a{text-decoration:none;color:#333;}
p{font-family:"Microsoft YaHei"; font-size:14px;}


#header{width:100%;height:40px;background:#eeeeee;}
#headtop{width:1200px;height:40px;margin:0 auto;background:#eeeeee;} 
  .headtopleft{width:145px;height:40px;float:left;}
  .headtopright{width:400px;height:40px;float:right;}
  .headtopright ul{width:400px; height:40px;line-height:40px;}
  .headtopright li{width:80px;height:40px;float:right;list-style:none;margin-left:10px;color:#444444;}
  
  /*******************头顶结束*********************/
  
#xinnian{width:1200px;height:60px;margin:0 auto;clear:both;}
  
#head{width:1200px;height:120px;margin:0 auto;clear:both;}
  .logo{width:305px;height:120px;float:left;}
  .logoright{width:500px; height:120px; float:right;}
    .sousuo{width:332px;height:43px;margin-top:40px;float:right;}
    .sousuo input[name=keyboard]{width:280px;height:43px;float:left;border:1px #ff7608 solid;color:#999;}
    .sousuo input[name=submit]{width:48px;height:43px;float:right;border:1px #ff7608 solid;}
    .sousuobottom{width:330px;height:20px;float:right;}
    .sousuobottom ul{width:320px;height:20px;}
    .sousuobottom li{width:60px;height:30px;float:left;line-height:30px;list-style:none;color:#999999;}
  /********************头部结束***********************/
  
  /***********导航栏开始*************/
  
#nav{width:1200px;height:50px;margin:0 auto;clear:both;background:#eee;}
     .navli{width:100px; height:50px;margin-left:8px;line-height:50px;text-align:center;float:left;list-style:none;font-size:14px;}
     .navli a{color:#222222; display:block;}
     .navli a:hover{background:#ff7608;color:#fff;}
     .noli{ width:100px; height:auto; display:none; position:relative; z-index:1000;}
       .subli{ width:100px; height:30px; line-height:30px; text-align:center; background:#eee;}
       .subli a{ color:#000000; display:block;}
       .subli a:hover{ color:#fff; background-color:#ff7608;}
	   
	/********banner开始****************/   
#banner{width:1200px; height:400; margin:0 auto; clear:both; margin-top:10px; overflow:hidden; position:relative;}
	.banleft{width:540px; height:400px;  float:left; }
	.banleft p{width:530px; height:40px; padding-left:10px; font-size:18px; line-height:50px; position:absolute; background:rgba(36,36,37,0.6); bottom:0;}
	
	.ban{width:310px; height:400px; position:relative; margin-left:10px; float:left;  }
	.tu2{width:310px; height:400px; }
	.tu1 p{width:310px; height:40px; background:rgba(36,36,37,0.6); position:absolute; top:0;}
	.tu2{margin-top:5px;}
	.tu2 p{width:310px; height:40px; background:rgba(36,36,37,0.6); position:absolute; bottom:0;}
	
	.banright{width:325px; height:400px; float:right; border:1px #dedede solid;}
		.brt{width:325px; height:40px; }
		.brt img{float:left; width:5px; height:40px; font-family:"Microsoft YaHei"; margin-left:5px; }
		.brt p{float:left; width:100px; line-height:40px; font-size:16px; height:40px; font-family:"Microsoft YaHei";}
		.brt span{float:right; margin-right:10px; height:40px; line-height:40px; font-size:16px; font-family:"Microsoft YaHei";}
		.brb{width:325px; height:360px;}
		.brb p{margin-left:20px;}
		.brb span{width:325px; height:110px; margin-left:13px;}
		/*********banner结束***************/
		
		/**********内容开始***************/
#coin{width:1200px; height:auto; overflow:hidden; clear:both; border:1px blue solid; margin:0 auto;}
	.coinleft{width:860px; border:1px red solid; float:left;}
	.clt{width:860px; height:50px; line-height:50px; background:#eeeeee; border-top:5px #ff7608 solid;}
	.cltli{float:left; width:120px; height:50px; font-size:14px; text-align:center; }
	
	.clt1{width:860px; float:left; border-bottom:1px #dddddd solid; margin-top:20px;}
	.clt1 span{font-size:22px; color:#676767; font-family:"Microsoft YaHei";}
	.clt1 p{width:860px; font-size:14px; color:#bbbbbb; font-family:"Microsoft YaHei";}
	
	.clt2{width:860px; float:left; border-bottom:1px #dddddd solid;margin-top:20px;}
	.clt2 span{font-size:22px; color:#676767; font-family:"Microsoft YaHei";}
	.clt2 p{width:860px; float:left; font-size:14px; color:#bbbbbb; font-family:"Microsoft YaHei";}
	.text{float:left;}
	.clt3{width:860px; float:left; border-bottom:1px #dddddd solid;margin-top:20px;}
	.clt3 span{font-size:22px; color:#676767; font-family:"Microsoft YaHei";}
	.clt3 p{width:860px; font-size:14px; color:#bbbbbb; font-family:"Microsoft YaHei";}
	
	.clt4{width:860px; float:left; border-bottom:1px #dddddd solid;margin-top:20px;}
	.clt4 span{font-size:22px; color:#676767; font-family:"Microsoft YaHei";}
	.clt4 p{width:860px; font-size:14px; color:#bbbbbb; font-family:"Microsoft YaHei";}
	
	.clt5{width:860px; float:left; border-bottom:1px #dddddd solid;margin-top:20px;}
	.clt5 span{font-size:22px; color:#676767; font-family:"Microsoft YaHei";}
	.clt5 p{width:860px; font-size:14px; color:#bbbbbb; font-family:"Microsoft YaHei";}
	
    .coinright{width:320px; height:800px; float:right; border:1px #9F9 solid;}
	.crt{width:320px; height:50px; background:#eeeeee; border-top:5px #ff7608 solid;}
	.crt span{width:320px; height:50px; line-height:50px; font-size:14px; font-family:"Microsoft YaHei";}
	.crt2{float:left;}
	.tetx{float:left;}

/***********底部开始****************/	
 #footer{width:100%;height:200px;background:#454a50; clear:both;}
  #flash{width:1200px;height:200px;margin:0 auto;}
     .flashtop{width:600px;height:200px;line-height:200px;margin-top:20px;float:left;}
     .flashtop tr{width:600px;height:30px;line-height:30px;color:#fff;font-size:12px;}
     .flashtop td{width:600px;height:30px;line-height:30px;color:#fff;}
  
     .flashbottom{width:100px;height:100px;float:right;margin-top:30px;}
	     .flashbottom dl{width:100px;height:100px;float:right;margin-right:30px;}
         .flashbottom dl dt{width:100px;height:100px;}
         .flashbottom dl dd{width:100px;height:10px;text-align:center;color:#fff;}