
body {
  background: #fff;
  font-size: 12px;
  height: auto;
  background:url(/templets/New/images/bg.png) repeat-x;
  font-family:"宋体";
  color:#046091; 
  width:100%;
}
li{list-style:none;}
a{text-decoration:none;  color:#046091;font-size:12px;}
.info_news a:hover, .info_question a:hover,.content_allGame a:hover,.list_gonggao a:hover,#content_footContent a:hover{text-decoration:underline;color:red;}
.footer_copy a{color:#929292;}
/**头部**/
#header{ width:100%; height:161px; margin:0 auto; padding:o;}
	.logo{ background:url(/templets/New/images/banner_bg.png) no-repeat;center 0; margin:0 auto; width:960px; height:93px; }
	.nav{height:48px; padding:0; background-color:#15a6ff;}
	.navbar{ margin:0 auto; width:1050px; height:48px; }
	.nav_link li {float:left;width:100px;text-align:center;margin-top:15px;margin-left:5px;background:url(/templets/New/images/jg.png) right no-repeat;}
	.nav_link li a{font-family:"黑体";font-size:16px; color:#FFF;text-decoration:none;padding-bottom:10px;}
	.nav_link li a:hover{background:url(/templets/New/images/nav_link_hbg.png) repeat-x bottom }
	.nav_ico li{float:right; margin-top:14px; width:40px; margin-right:10px;}
/**内容**/
#content{width:970px;height:auto; margin:0 auto;}
/**左侧内容**/
.sidebar_left{ float:left;width:223px;}
	.sidebar_left_1{height:270px;background:#FFF;color:#056191; border:1px solid #75a4c7;}
	.sidebar_left_1 li{text-align:center;padding-top:10px; } 
	.sidebar_left_1 li img{} 
	.sidebar_left_2 { height:60px}
	.sidebar_left_2 p{margin-top:10px; float:left;}
	.sidebar_left_3{ height:230px;text-align:center; font-size:14px; color:#336799; line-height:31px; border:1px solid #75a4c7; margin-top:25px;}
	.sidebar_left_3 img { margin-top:10px; margin-bottom:10px; }
    /**右侧内容**/
   .sidebar_right{ float:right;maigin-top:10px; width:730px;overflow:hidden; padding-left:10px;}

/**底部**/
#footer{width:100%; height:350x; border-top:1px solid #acacac;text-align:center;margin-top:40px;background-color:#f6f6f6;padding:20px 0 10px 0;}
.footer_link{line-height:20px; color:#929292;}
.footer_link a{text-align:center;color:#929292;}
.footer_copy{ margin-top:10px;line-height:25px;color:#929292;}
.footer_img{margin-top:10px;}
.footer_img img{margin-right:10px;}

/**右上固定图片**/
.right_content_top ,.right_content_xiazai ,.right_content_jiashao ,.1 ,.kf , .xz ,.right_content_jiashao{width:725px;}
.right_content_top p{ padding-left:13px;font-size:13px; color:#04608f; height:16px; padding-bottom:4px;padding-top:3px;background-image:url(/templets/New/images/qizi.png); background-repeat:no-repeat;background-position:left top;border-bottom:1px dotted #15a6ff;}   
.kf{ height:139px; padding-left:2px; padding-top:2px; margin-top:10px; }   



/**分页样式**/
/*分页*/
.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
    overflow: hidden;
}

.list_pages {
text-align: center;
height: 32px;
padding: 10px 20px;
margin-top: 10px;
}

.list_pages ul {
}

    .list_pages ul li {
        font-family: 微软雅黑;
        font-size: 12px;
        width: auto;
        line-height: 17px;
        margin-right: 6px;
        border: 1px solid #b0b0b0;
        display: inline;
        padding: 2px 6px 2px;
        float: none;
    }

.list_pages ul li a {
    color: #606060;
}

.list_pages ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.list_pages ul li.thisclass, .list_pages ul li.thisclass a, .pagebox ul li.thisclass a:hover {
    background-color: #3E9EA8;
    color: #fff;
    border: 1px solid #3E9EA8;
}

.list_pages .pageinfo {
    line-height: 21px;
    padding: 0px 10px 0px 16px;
    color: #555;
    font-weight: normal;
}

.list_pages select {
    font: 12px Verdana,Arial,Tahoma;
    vertical-align: middle;
    height: 20px;
}

.list_pages .pageinfo strong {
    color: #555;
    font-weight: normal;
}

/**用户中心左侧**/

