*{margin:0; padding:0;}
/* 
	set overflow-y property to prevent scroll bar mess up the whole layout
*/
body{margin:0; padding:0; overflow: hidden; color:#fff;}
li{list-style-type:none;}	
#radioWrap{ 
	width:20px;
	height:180px;
	position:absolute;
	right:5%;
	top:50%;
	margin-top: -90px;}

#radio{width:100%; height:100%; overflow: hidden;}

#radio li{
	width:20px;
	height:20px;
	background-color: rgba(255,255,255, 0.5);
	text-indent: -10000px;
	border-radius: 50%;
	margin-top: 12px;
	cursor:pointer;}
#radio li:first-child{margin-top:0;}

/* 
	set position to absolute(essential).
	use margin to adjust gaps between LIs because ApplikeOnePage.js uses .outerHeight(true) method
	to measure the interval gap to which each radio buttons are placed.
*/
#radioOn{
	width:20px;
	height:20px;
	margin-bottom:12px;
	position: absolute;
	top:0; left:0;
	background-color: #fff;
	border-radius: 50%;
}

/* styled just for clear visual division of each areas */
.op-section{background-color:#1abc9c;}
.second{background-color:#3598db;}
.third{background-color:#34495e;}
.fourth{background-color:#2ecc71;}
.fifth{background-color:#8e44ad;}
.last{background-color:#f39c12;}

/*common style for all*/
body{
	width:100%;
	float: left;
	background:url('http://image.3001.net/images/new/bg.jpg') repeat-x center 70px
}
.logo a{float: left;}
.logo span{
	float: left;
	font-size:14px;
	padding:4px 0 6px 14px;
	margin:8px 10px 0 16px;
	border-left:1px solid  #707070;
	color:#b8bbbf;
}
.globalnav .nav{margin-right:50px;}
.globalnav a { font-family: "微软雅黑"; font-size: 14px;  }
.globalnav .nav > li > a { padding: 6px 16px; border-radius: 3px;color: #a9a9a9; }
.globalnav .nav > li > a:hover { background: none; cursor:pointer ;color#fff;}
img{
	-webkit-animation-play-state:paused!important;
	animation-play-state:paused!important;
}	

.showflower{
    width: 100%;
    float: left;
    height:auto;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-color: #17181c;
}
.cloud{
	width:100%;
	float: left;
	margin:2% 0%;
	-webkit-animation:cloud 30s infinite;
	animation:cloud 30s infinite;
	-webkit-animation-play-state:running !important;
	animation-play-state:running!important;
}

@keyframes cloud{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-400px);
		left:20%;
	}
	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		left:50%;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(400px);
		left:80%;
	}
}

@-webkit-keyframes  cloud{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-400px);
		left:20%;
	}
	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		left:50%;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(400px);
		left:80%;
	}
}

.showpics li{
	margin:2% 0%;
}



